@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

.loader{
  position: absolute;
  top: -10px;
  z-index: 999;
  position: fixed;
  height: 1100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  transition: all 0.5s;
}
.loader .ring{
  height: 45px;
  width: 45px;
  
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader .ring:after{
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 20%;
  border: 2px solid hsl(192, 100%, 50%);
  border-top-color: transparent;
  animation: rotate 1.5s linear infinite;
}
@keyframes rotate {
  100%{
    transform: rotate(360deg);
  }
}
